<form name="loginForm" ng-submit="login(credentials)"
      novalidate>
    <label for="username">{{dicti.email}}</label>
    <input type="text" id="username"
           ng-model="credentials.email" required>
    <br/>
    <label for="password">{{dicti.password}}</label>
    <input type="password" id="password"
           ng-model="credentials.password" required>

    <br/>
    <button type="submit" ng-disabled="loginForm.$invalid">{{dicti.login}}</button>
</form>

<p ng-show="error">{{dicti.err.login}}</p>